.wrapper
  max-width: 1024px
  margin: 0 auto
  h1.title
    text-align: center
    padding: 20px 0
    width: 100%
  
.link
  display: inline-block
  text-decoration: none
  color: $selection-text
  &::after
    content: ''
    display: block
    width: 0
    height: 1px
    margin-top: 2px
    margin-left: 50%
    background-color: $selection-text
    transition: all ease-in-out 250ms
  &:hover::after
    margin-left: 0
    width: 100%
  &.back
    color: black
    text-align: center
    display: table
    margin: 0 auto
    margin-top: 30px
    margin-bottom: 20vh
    &::after
      background-color: black

#profile-link
  position: absolute
  right: 20px
  top: 20px
  a
    color: $text
    &:hover::after
      background-color: $text

.btn
  -webkit-appearance: none
    -moz-appearance: none
          appearance: none
  outline: 0
  background-color: white
  border: 0
  padding: 10px 15px
  color: #53e3a6
  border-radius: 3px
  width: 250px
  display: inline-block
  text-align: center
  cursor: pointer
  font-size: 18px
  transition-duration: 0.25s
  &:hover
    background-color: #f5f7f9