<template lang="pug">
  .wrapper-login(:class="{ 'form-success': success }")
    .container
      h1 {{msg}}
      form.form( @submit.prevent="restore")
        input(type="email" name="email" required v-model="email" placeholder="E-mail")
        button(type="submit") Восстановить
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'forgot',
  data() {
    return {
      email: '',
      msg: 'Восстановить пароль',
      success: false,
    };
  },
  methods: {
    ...mapActions(['restorePassword']),
    restore() {
      this.restorePassword({ email: this.email })
        .then((response) => {
          this.msg = response;
          this.success = true;
          setTimeout(() => this.$router.push({ name: 'login' }), 2000);
        })
        .catch((error) => {
          this.msg = error;
        });
    },
  },
};
</script>
