<template lang="pug">
  .wrapper-login(:class="{ 'form-success': success }")
    .container
      h1 Добро пожаловать
      p.error(v-if="error") {{msg}}

      form.form( @submit.prevent="login")
        input(type="email" required name="email" v-model="email" placeholder="E-mail")
        input(type="password" required name="password" v-model="password" placeholder="Пароль")
        button(type="submit" id="login-button") Вход
        router-link(to="/forgot") Забыли пароль?
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'login',
  data() {
    return {
      email: '',
      password: '',
      success: false,
      error: false,
      msg: null,
    };
  },
  computed: mapGetters(['loggedIn']),
  methods: {
    ...mapActions(['getToken']),
    login() {
      this.getToken({
        email: this.email, // sag_rus@ymail.com
        password: this.password, // zOqKCq6jqr
      })
        .then((response) => {
          if (response.data.token) {
            this.success = true;
            this.error = false;
            this.$router.push({ name: 'workers' });
          }
        })
        .catch((error) => {
          this.error = true;
          this.msg = error;
        });
    },
  },
  created() {
    if (this.loggedIn) {
      this.$router.push({ name: 'workers' });
    }
  },
};
</script>
