<template lang="pug">
  .wrapper(v-if="profile")
    .container
      h1.title Профиль
      .profile
        div.saved(v-if="saved")
          p {{saved}}
        div.error(v-if="error")
          p {{error}}
        form(@submit.prevent="update")
          .input-wrap.full.req
            label(for="name") Ваше имя
            input(type="text" required name="name" id="name" :value="profile.name" disabled)
          .input-wrap
            label(for="email") Email
            input(type="email" name="email" id="email" :value="profile.email" disabled)
          .input-wrap.req
            label(for="phone") Телефон
            input(type="phone" required name="phone" v-model="phone" id="phone")
            span.pre +7
          .input-wrap.req
            label(for="city") Город
            input(type="text" required name="city" v-model="city" id="city")
          .input-wrap.req
            label(for="birthday") Год рождения
            input(type="text" required name="birthday" v-model="birthday" id="birthday")
          .input-wrap.full.req
            label(for="type") Тип задания
            input(type="text" required name="type" id="type" :value="profile.type" disabled)
          .input-wrap.req
            label(for="github") Ссылка на проект
            input(type="text" name="github" v-model="github" id="github")
            span.pre https://
          .input-wrap.req
            label(for="telegram") Telegram
            input(type="text" required name="telegram" v-model="telegram" id="telegram")
            span.pre @
          .input-wrap.full.req
            label(for="about") Дополнительно
            textarea(name="about" required v-model="about" id="about") {{profile.about}}
          button.save.btn(type="submit") Сохранить
          a.logout.btn(@click="logout") Выйти
      router-link(class="link back" to="/workers") Вернутся назад
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'profile',
  data() {
    return {
      saved: false,
      error: false,
      about: null,
      github: null,
      city: null,
      telegram: null,
      phone: null,
      birthday: null,
      link: null,
    };
  },
  methods: {
    ...mapActions(['updateProfile', 'loggedOut', 'userAuth']),
    update() {
      this.updateProfile({
        about: this.about,
        github: this.github,
        city: this.city,
        telegram: this.telegram,
        phone: this.phone,
        birthday: this.birthday,
        link: this.link,
      })
        .then((response) => {
          if (response) {
            this.saved = response;
            this.error = false;
          }
        })
        .catch((error) => {
          this.error = error;
          this.saved = false;
        });
    },
    logout() {
      this.loggedOut();
      window.location.reload();
    },
    setValues(user) {
      this.about = user.about;
      this.github = user.github;
      this.city = user.city;
      this.telegram = user.telegram;
      this.phone = user.phone;
      this.birthday = user.birthday;
      this.link = user.link;
    },
  },
  computed: {
    ...mapGetters(['user']),
    profile() {
      if (this.user) {
        this.setValues(this.user);
      }

      return this.user;
    },
  },
  created() { this.userAuth(); },
};
</script>
