<template lang="pug">
  .wrapper(v-if="worker")
    .container
      .worker-profile
        h1.title {{worker.name}}
        .img-wrap
          img(:src="worker.image")
        .info-wrap
          p
            span.title Логин:
            span {{worker.login}}
          p
            span.title Email:
            span {{worker.email}}
          p
            span.title Должность:
            span {{worker.worker.position}}
          p
            span.title Отдел:
            span {{worker.worker.department}}
          p
            span.title Зачислен:
            span {{worker.worker.adopted_at}}
          p
            span.title О себе:
            span {{worker.about}}

      router-link(class="link back" to="/workers") Вернутся назад
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  props: { id: String },
  computed: mapGetters(['worker']),
  methods: mapActions(['getWorkerPage']),
  created() { this.getWorkerPage({ id: this.id }); },
};
</script>
