<template lang="pug">
  .wrapper(v-if="workersList")
    .container
      h1.title Сотрудники
      workerItems(:workerList="workersList")
      pagination(:lastPage="lastPage" :curPage="curPage")
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import workerItems from '../components/workerItems.vue';
import pagination from '../components/pagination.vue';

export default {
  name: 'workers',
  created() {
    this.userAuth();
    this.getWorkers();
  },
  methods: mapActions(['userAuth', 'getWorkers']),
  computed: mapGetters(['workersList', 'curPage', 'lastPage']),
  components: {
    workerItems,
    pagination,
  },
};
</script>
