<template lang="pug">
  .pagination
    ul
      li.btn-prev(:disabled="curPage == 1" @click="page(curPage-1)") <
      li(v-for="index in lastPage" :key="index" @click="page(index)" :class="{ 'active' : index == curPage}" ) {{ index }}
      li.btn-next(:disabled="curPage === lastPage" @click="page(curPage+1)") >
</template>

<script>
export default {
  name: 'pagination',
  props: {
    lastPage: Number,
    curPage: Number,
  },
  methods: {
    page(num) {
      this.$store.dispatch('pageChange', { num });
    },
  },
};
</script>
