<template lang="pug">
  .workers
    .worker(v-for="worker in workerList" :key="worker.id")
        img(:src="worker.image")
        .info-wrap
          p.name {{worker.name}}
          router-link(:to="{path: '/workers/'+worker.id}" class="link") Посмотреть профиль
</template>

<script>
export default {
  name: 'workerItems',
  props: {
    workerList: Array,
  },
};
</script>
