<template lang="pug">
  #app
    #profile-link(v-if="loggedIn")
      router-link(class="link" to="/profile") Настройки профиля

    router-view
</template>

<script>
export default {
  name: 'app',
  computed: {
    loggedIn() { return this.$store.getters.loggedIn; },
  },
};
</script>

<style lang="sass">
@import assets/sass/main
</style>
