.wrapper-login
  background: $selection-bg
  background: linear-gradient(to bottom right, $selection-bg 0%, $green 100%)
  position: absolute
  top: 50%
  left: 0
  width: 100%
  margin-top: -200px
  overflow: hidden
  &.form-success
    .container h1
      -webkit-transform: translateY(85px)
              transform: translateY(85px)
    form
      display: none

  .container
    max-width: 600px
    margin: 0 auto
    padding: 50px 0
    height: 400px
    text-align: center
    box-sizing: border-box
    h1
      color: white
      font-size: 40px
      transition-duration: 1s
      transition-timing-function: ease-in-put
      font-weight: 200
      margin-bottom: 40px
    p
      margin-bottom: 20px
      color: white
      font-size: 20px
      &.error
        margin: 0
        margin-top: -20px
        color: red

  form 
    padding: 20px 0
    position: relative
    z-index: 2
    input
      -webkit-appearance: none
        -moz-appearance: none
              appearance: none
      outline: 0
      border: 1px solid rgba(255, 255, 255, 0.4)
      background-color: rgba(255, 255, 255, 0.2)
      width: 250px
      border-radius: 3px
      padding: 10px 15px
      margin: 0 auto 10px auto
      display: block
      text-align: center
      font-size: 18px
      color: white
      transition-duration: 0.25s
      font-weight: 300
      &:hover 
        background-color: rgba(255, 255, 255, 0.4)
      &:focus
        background-color: white
        width: 300px
        color: #53e3a6
      &::placeholder
        color: white
    button
      -webkit-appearance: none
        -moz-appearance: none
              appearance: none
      outline: 0
      background-color: white
      border: 0
      padding: 10px 15px
      color: #53e3a6
      border-radius: 3px
      width: 250px
      cursor: pointer
      font-size: 18px
      transition-duration: 0.25s
      &:hover
        background-color: #f5f7f9
    a
      display: block
      margin-top: 20px
      color: white