.pagination
  width: 100%
  text-align: center
  padding: 60px
  ul
    list-style: none
    padding: 0
    margin: 0
    li
      display: inline-block
      width: 30px
      height: 30px
      line-height: 30px
      border-radius: 5px
      background: $green
      color: $selection-text
      text-align: center
      margin-right: 10px
      cursor: pointer
      transition: all ease-in-out 250ms
      &:hover
        background: $selection-bg
      &.active
        background: transparent
        cursor: default
        color: $text
        font-weight: bold
      &[disabled]
        display: none