.profile
  background: $selection-bg
  background: linear-gradient(to bottom right, $selection-bg 0%, $green 100%)
  padding: 20px
  color: $selection-text
  border-radius: 10px
  margin: 0 auto
  margin-top: 20px
  width: 600px
  
  form 
    padding: 20px 0
    position: relative
    z-index: 2
    input, textarea
      -webkit-appearance: none
        -moz-appearance: none
              appearance: none
      outline: 0
      border: 1px solid rgba(255, 255, 255, 0.4)
      background-color: rgba(255, 255, 255, 0.2)
      width: 250px
      border-radius: 3px
      padding: 10px 15px
      margin: 0 0 10px auto
      display: block
      text-align: center
      font-size: 18px
      color: white
      transition-duration: 0.25s
      font-weight: 300
      &:hover 
        background-color: rgba(255, 255, 255, 0.4)
      &:focus
        background-color: white
        width: 300px
        color: #53e3a6
      &::placeholder
        color: white
      &[disabled]
        color: $dis-text
        background: $dis-bg
    .input-wrap
      position: relative
      label
        position: absolute
        left: 0
        top: 15px
      .pre
        position: absolute
        right: 180px
        top: 0
        display: block
        width: 70px
        height: 43px
        line-height: 43px
        background: #fff
        border-radius: 5px
        text-align: center
        color: $green
        font-weight: bold
        opacity: 0
        transition: all ease-in-out 250ms
      input:focus +.pre
        opacity: 1
        right: 295px
      textarea
        margin: 0
        margin-top: 60px
        margin-bottom: 30px
        width: 100%
        resize: none
        text-align: left
      label[for="about"]
        top: -30px
      &.req label::after
        content: '*'
        color: red
        margin-left: 5px
    .logout
      float: right
      background: $selection-bg
      color: $selection-text
  .saved, .error
    text-align: center
    font-weight: bold
    font-size: 20px
  .saved
    color: #58ffba
  .error
    color: red
  &+.back
    margin-bottom: 20px