.workers
  display: grid
  grid-template-columns: repeat(4, 236px)
  grid-gap: 26px
  .worker
    background: $selection-bg
    background: linear-gradient(to bottom right, $selection-bg 0%, $green 100%)
    color: $selection-text
    img
      width: 100%
    .info-wrap
      padding: 20px
      font-size: 14px
      p
        margin: 0
        font-weight: bold
        height: 36px
        margin-bottom: 20px

.worker-profile
  background: $selection-bg
  background: linear-gradient(to bottom right, $selection-bg 0%, $green 100%)
  padding: 20px
  color: $selection-text
  border-radius: 10px
  margin-top: 20vh
  h1
    margin: 0
    padding: 0
  .img-wrap, .info-wrap
    display: inline-block
    vertical-align: top
  .info-wrap
    width: 600px
    margin-left: 50px
    p
      margin: 0
      margin-bottom: 20px
      span
        display: inline-block
        width: calc(100% - 150px)
        vertical-align: top
        &.title
          width: 150px
          font-weight: bold
        