@import utils/vars
@import utils/mixins
@import utils/libs
@import utils/fonts
@import utils/ui

::selection
	background: $selection-bg
	color: $selection-text

*
	box-sizing: border-box
	font-family: 'Comfortaa', sans-serif !important

body
	// font-size: 16px
	min-width: 320px
	overflow-x: hidden
	background: $bg
	color: $text

// Custom Sass / Remove before use
@import modules/auth
@import modules/workers
@import modules/pagination
@import modules/profile